form {
    width: 300px;
    margin: auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  form h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  div {
    margin-bottom: 0.75rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 50%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }
  
  .google_btn {
    width: 230px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: white;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 20px 0;
    color: #2c444e;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.google-auth-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  color: rgb(29, 24, 24);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-size: 12px;
  font-weight: bold;
}

.google-auth-button:hover {
  background-color: #357AE8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.google-auth-button img {
  margin-right: 10px;
}
