.task-manager {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-top: 10px;
}


.add-task-button {

  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  align-items: flex-end;
  margin: 5px;
}

.add-task-button:hover {
  background-color: #0056b3;
}


.task-columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.task-column {
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.task-column h2 {
  text-align: center;
}

.task-column.highlight {
  background-color: #e0e0e0;
}

.task-column:last-child {
  margin-right: 0;
}
